@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header_container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../public/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 73rem;
  width: 100vw;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4.5rem;
}
.header_nav img {
  width: 23rem;
  height: 8rem;
}
.header_button button {
  background-color: #e50914;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  width: 8rem;
  padding: 0.3rem;
  margin-top: 2.5rem;
}
.header_button button:hover{
  background-color: #e50914;
}

.header_body {
  width: 50vw;
  background: rgba(0, 0, 0, 0);
  margin: 0 auto;
  margin-top: 14rem;
}
.body_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.body_content p {
  color: white;
  font-size: 6.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 7.5rem;
}
.body_content p::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.body_content span {
  color: white;
  font-family: "Roboto", sans-serif;
}
.hebody_span {
  font-size: 2.8rem;
}
.Ready_body {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.input_body {
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
}
.input_body input {
  width: 70%;
  padding: 2.5rem;
  color: lightgray;
  outline-color: aqua;
}
.body_started {
  width: 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  background-color: #e50914;
  cursor: pointer;
}
.body_started svg {
  font-size: 4rem;
}
.header_divider {
  background-color: #222;
  height: 1.2rem;
  border: none;
  width: 100%;
}
.questions_container {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.questions_container h1 {
  margin-top: 5rem;
  font-size: 5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}
.questions {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1275px) {
  .body_content p {
    font-size: 5.8rem;
  }
  .header_body {
    width: 60vw;
  }
  .body_started {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1124px) {
  .header_container {
    height: 78rem;
  }
  .body_started {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 958px) {
  .input_body {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .body_started {
    width: 30%;
  }

  .body_started {
    font-size: 1.8rem;
  }
  .body_content p {
    font-size: 5.2rem;
  }
  .header_body {
    width: 75vw;
  }

  .input_body input {
    width: 100%;
  }
  .questions_container h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 722px) {
  .questions_container h1 {
    font-size: 3rem;
  }
  .input_body input {
    padding: 1.5rem;
  }
  .header_body {
    width: 95vw;
    margin-top: 8rem;
  }
  .body_content p {
    font-size: 3rem;
    line-height: normal;
  }
  .hebody_span {
    font-size: 1.8rem;
  }
  .Ready_body {
    font-size: 1.8rem;
  }
  .body_started {
    font-size: 1.6rem;
    width: 140px;
  }

  .header_container {
    height: 60rem;
  }
  .header_nav img {
    width: 15rem;
  }
  .header_button button {
    font-size: 1.2rem;
    font-weight: 400;
    width: 5rem;
    padding: 0.3rem;
    margin-top: 2.5rem;
  }
  .header_nav {
    padding: 0rem;
  }
}
@media only screen and (max-width: 393px) {
  .questions_container h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 740px) {
  .Backchange {
    background: rgba(0, 0, 0, 1);
    height: 64.5rem;
  }
  
}